
body {
  background: linear-gradient(45deg, lightgreen, lightcoral);
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://i.pinimg.com/736x/a0/b3/91/a0b3916f7871c08cc5d115242d600461.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  border-radius: 10px;
  padding: 40px 20px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  flex-direction: column;

}

.in {
  border-radius: 10px;
  padding: 15px;
   background:linear-gradient(45deg,lightcoral,lightgreen);
  width: 250px;
  border: none;
  outline: none;
  font-size: 16px;
}

.btn1,.btn2,.btn3 {
  padding: 15px;
  width: 100px;
  height: 48px;
  border-radius: 10px;
  background-color: lightcoral;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 10px;
}
.btn1:hover {
    background:linear-gradient(45deg,lightgreen,lightcoral);
}
.btn2:hover {
    background:linear-gradient(45deg,lightgreen,lightcoral);
}

.resbo {
  width: 500px;
  max-width: 700px;
  min-height: 80px;
  background: linear-gradient(45deg, lightcoral, lightgreen);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.4s ease-in;
}

.resbo h4 {
  font-size: 18px;
  font-weight: 600;
}
.forbo{
    display: flex;
    flex-direction: column;
    
}
.textarea{
    width:252px;
    height:100px;
    box-shadow: 0px 0px 15px rgb(121, 123, 121);
    border-radius: 10px;
    /* background: linear-gradient(45deg, lightcoral, lightgreen); */
    background-color: lightyellow;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* responsive layout */
@media (max-width: 768px) {
  .in {
    width: 180px;
  }
  .resbo {
    width: 95%;
  }
}
